Repository jlvlg/rent-a-film: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"]
}

fix: Page scrolled to the top when fetching more movies
  index.html
  src/components/moviegrid/index.tsx
  src/components/navbar/index.tsx
  src/components/select/index.tsx
  src/pages/layout.tsx
  src/pages/page.tsx
  src/util/hooks/useOnEndOfPage.ts
  src/util/hooks/useWindowDimensions.ts
Due: eslint --fix, prettier --write

feat: Added product page
  package.json
  pnpm-lock.yaml
  src/components/button/index.tsx
  src/components/counter/index.tsx
  src/components/moviegrid/index.tsx
  src/components/navbar/index.tsx
  src/components/select/index.tsx
  src/main.tsx
  src/pages/cart/page.tsx
  src/pages/movie/page.module.css
  src/pages/movie/page.tsx
  src/pages/page.tsx
  src/store/index.ts
  src/store/slices/cart.ts
  src/store/slices/index.ts
  src/util/hooks/useOnEndOfPage.ts
  src/util/remToPx.ts
  src/util/tmdb.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: Product page finished
  index.html
  package.json
  pnpm-lock.yaml
  src/components/button/a.tsx
  src/components/button/index.tsx
  src/components/counter/index.tsx
  src/components/navbar/index.module.css
  src/components/navbar/index.tsx
  src/pages/movie/page.tsx
  src/store/index.ts
  src/store/slices/cart.ts
  src/types/flubber.d.ts
  src/util/hooks/useOnEndOfPage.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: Cart functionality
  index.html
  package.json
  pnpm-lock.yaml
  src/assets/loading.svg
  src/assets/react.svg
  src/components/button/index.tsx
  src/components/counter/index.tsx
  src/components/loading/index.tsx
  src/components/moviegrid/index.module.css
  src/components/moviegrid/index.tsx
  src/components/navbar/index.tsx
  src/components/select/index.tsx
  src/pages/cart/page.tsx
  src/pages/movie/page.tsx
  src/pages/page.tsx
  src/store/slices/cart.ts
  src/store/slices/index.ts
  src/store/slices/rent.ts
  src/util/numbersOnly.ts
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: Persistence
  package.json
  pnpm-lock.yaml
  src/components/moviegrid/index.tsx
  src/main.tsx
  src/pages/cart/page.tsx
  src/pages/movie/page.tsx
  src/store/index.ts
  src/store/slices/index.ts
  src/util/hooks/useOnEndOfPage.ts
Due: eslint --fix, prettier --write

Create pages.yml
  .github/workflows/pages.yml
Due: none

Update pages.yml
  .github/workflows/pages.yml
Due: none

build: Vite base path
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 404 error
  public/vite.svg
  src/main.tsx
Due: eslint --fix, prettier --write

fix: Hide img alt text
  src/components/moviegrid/index.module.css
Due: prettier --write, stylelint --fix

fix: Styling of movie description sleketon
  src/pages/movie/page.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none
